
<div id="add-banner" class="alert alert-danger" role="alert" style="text-align: center; display: none;">
    You have added a new posts.
  </div>

<div class="row align-items-center mb-7">
    <div class="col-auto">
      <img src="/assets/img/api-evangelist-cartoon.jpg" width="50" onclick="history.back();">
    </div>  
    <div class="col">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-2">
                <li class="breadcrumb-item"><a class="text-body-secondary" href="#">{{ page.section }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
            </ol>
        </nav>
        <h1 class="fs-4 mb-0">{{ page.title }}</h1>
    </div>
</div>
